* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:Arial, sans-setif;
  background-color: #926a88;
  color:#333;
  
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0;
}

/* ===============================
        Homepage - Greeting
   =============================== */

.intro {
  background-color: coral;
  height: 95vh;
  width: 100vw;
  display: flex;
}

.greeting {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  
}

.greeting h1 {
color: #222;
font-family: 'Helvetica',  
  'Source Han Sans SC', 
  'PingFang SC', 
  'Source Han Sans JP', 'Noto Sans Thai','Noto Sans Tibetan',
  'Source Han Sans KR', 'Padauk',
  'Noto Sans Arabic', 'Noto Sans Cyrillic', 'Noto Sans Greek',
  'Noto Sans Hebrew','Noto Sans Devanagari','Noto Sans Sinhala',
  sans-serif;
font-size: 120px;
font-weight: 300;
}

span.mark {
  display: inline-block;
  border-bottom: 10px solid #222;
  width: 50px;
  vertical-align: text-bottom;
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #222;
  }
}

.introduction {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  justify-content: center;
}

/* ===============================
           Sticky Navigator
   =============================== */

nav.sticky{
  position: fixed;
  top: 0;
}

.logo img {
    height: 40px; 
}

.navigation {
    position: sticky;
    top: 0;
    width: 100vw;
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    z-index: 999;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navigation li {
  display: inline;
  margin-inline: 5vw;
}

.navigation a:hover {
  text-decoration: underline;
}

/* ===============================
              Subpages
   =============================== */

.banner {
  background-color: coral;
  height: 15vh;
  width: 100vw;
  display: flex;
}

.scrolling {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 270px;
  margin-top: 2rem;
  margin-bottom: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 5%,
    rgb(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
  from {

  }

  to {
    left: -340px;
  }
}

.card {
  width: 340px;
  height: 270px;
  background-color: antiquewhite;
  border-radius: 6px;
  position: absolute;
  left: calc(340px * 5);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
   
.card1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.card2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.card3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.card4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.card5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

/* ===============================
                Body
   =============================== */

hl {
  color: #2c3e50;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.index {
  flex: 1;
  width: 100vw;
}

footer {
  background-color: #222;
  color: #555;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}