* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:Arial, sans-setif;
  background-color: #926a88;
  color:#333;
  
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0;
}

.intro {
  background-color: coral;
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.introduction {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

nav.sticky{
  position: fixed;
  top: 0;
}

.logo img {
    height: 40px; 
}

.navigation {
    position: sticky;
    top: 0;
    width: 100vw;
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    z-index: 999;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navigation li {
  display: inline;
  margin-inline: 8vw;
}

.navigation a:hover {
  text-decoration: underline;
}

.language-switcher select {
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: white;
}

.language-switcher select:hover {
    background-color: #555;
}
hl {
  color: #2c3e50;
}

.index {
  height: 200vh
}

footer {
  background-color: #222;
  color: #555;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}