* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:Arial, sans-setif;
  background-color: #926a88;
  color:#333;
  
  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0;
}

.intro {
  background-color: coral;
  height: 95vh;
  width: 100vw;
  display: flex;
}

.greeting {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  
}

.greeting h1 {
color: #222;
font-family: 'Helvetica',  
  'Source Han Sans SC', 
  'PingFang SC', 
  'Source Han Sans JP', 'Noto Sans Thai','Noto Sans Tibetan',
  'Source Han Sans KR', 'Padauk',
  'Noto Sans Arabic', 'Noto Sans Cyrillic', 'Noto Sans Greek',
  'Noto Sans Hebrew','Noto Sans Devanagari','Noto Sans Sinhala',
  sans-serif;
font-size: 120px;
font-weight: 300;
}

span.mark {
  display: inline-block;
  border-bottom: 10px solid #222;
  width: 50px;
  vertical-align: text-bottom;
  animation: blink 0.6s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #222;
  }
}

.introduction {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  justify-content: center;
}

nav.sticky{
  position: fixed;
  top: 0;
}

.logo img {
    height: 40px; 
}

.navigation {
    position: sticky;
    top: 0;
    width: 100vw;
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    z-index: 999;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navigation li {
  display: inline;
  margin-inline: 8vw;
}

.navigation a:hover {
  text-decoration: underline;
}

.language-switcher select {
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: white;
}

.language-switcher select:hover {
    background-color: #555;
}
hl {
  color: #2c3e50;
}

.index {
  height: 200vh
}

footer {
  background-color: #222;
  color: #555;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}